{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
    <h3 class="text-center mt-4 mb-4">Password must be:</h3>
    <div class="d-flex justify-content-center">
        <ul class="list-group-flush">
            <li class="list-group-item">At least 8 characters long</li>
            <li class="list-group-item">At least one uppercase English letter</li>
            <li class="list-group-item">At least one lowercase English letter</li>
            <li class="list-group-item">At least one digit</li>
            <li class="list-group-item">At least one special character</li>
        </ul>
    </div>
{% endblock %}